.content-wrapper {
  background-color: #fff;
  width: auto;
  padding: 20px;
  margin-bottom: 30px;
}

.content-wrapper a {
  color: inherit;
}

.content-wrapper a:hover {
  color: #f14e84;
  text-decoration: none;
}